<head>
  <title>Category</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
  />
</head>
<div class="category">
  <!--Genre-->
  <!-- Rock -->
  <div class="bySong">
    <div class="h4 d-flex justify-content-between">
      <h4>Rock</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{genre:'rock'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
  <!-- Pop -->
  <div class="bySong">
    <div class="h4 d-flex justify-content-between">
      <h4>Pop</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{genre:'pop'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
  <!-- Event: Love -->
  <div class="bySong" id="event">
    <div class="h4 d-flex justify-content-between">
      <h4>Feeling Loved</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{event:'love'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
  <!-- Event: running -->
  <div class="bySong">
    <div class="h4 d-flex justify-content-between">
      <h4>Running</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{event:'running'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
  <!-- Event: cafe -->
  <div class="bySong">
    <div class="h4 d-flex justify-content-between">
      <h4>Cafe</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{event:'cafe'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
  <!-- Nation: VN -->
  <div class="bySong" id="nation">
    <div class="h4 d-flex justify-content-between">
      <h4>Vietnam</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{nation:'vn'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
  <!-- Nation: US-UK -->
  <div class="bySong">
    <div class="h4 d-flex justify-content-between">
      <h4>US-UK</h4>
    </div>
    <div class="listSong d-flex flex-wrap justify-content-start">
      <li
        ng-repeat="song in songs|filter:{nation:'us-uk'}|filter:mySearch|limitTo:15"
      >
        <div class="img_play">
          <img src="{{song.picUrl}}" alt="{{song.title}}" />
          <i
            class="bi playListPlay bi-play-circle-fill"
            music-player="play"
            add-song="song"
          ></i>
        </div>
        <h5>
          {{song.title}}
          <br />
          <a ui-sref="artist({id:song.id})" class="text-decoration-none">
            <div class="singer">{{song.artist[0]}}</div>
          </a>
        </h5>
      </li>
    </div>
  </div>
</div>