* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  position: relative;
}
#maincontent {
  width: 100%;
  height: 100vh;
  padding-bottom: 20%;
  overflow-y: auto;
}
/* HEADER */

header {
  box-shadow: 2px 10px white;
}
/* SIDEBAR */
.sidebar ul li:hover {
  background-color: #464951;
  border-radius: 5%;
}

/* DISCOVER PAGE */
body .main_content {
  position: relative;
}
/* New Releases */
.bySong,
.byArtist {
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.bySong .h4,
.byArtist .h4 {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
}
.bySong .h4 .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}
.bySong .h4 .bi:hover {
  color: #fff;
}

.bySong .listSong,
.byArtist .listArtist {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  justify-content: start;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.bySong .listSong::-webkit-scrollbar,
.byArtist .listArtist::-webkit-scrollbar {
  display: none;
}
.bySong .listSong li {
  width: 120px;
  height: 150px;
  list-style: none;
  margin-right: 10px;
  transition: 0.3s linear;
}

.byArtist .listArtist li {
  list-style-type: none;
  position: relative;
  min-width: 150px;
  height: auto;
  /* background-color: #fff; */
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.bySong .listSong li:hover {
  background: rgb(105, 105, 170, 0.1);
}
.bySong .listSong li .img_play {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bySong .listSong li .img_play img {
  width: 100px;
  height: 100px;
  border-radius: 5%;
}
.byArtist .listArtist img {
  width: 150px;
  height: 150px;
}
.bySong .listSong li .img_play .bi {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s linear;
  opacity: 0;
}
.bySong .listSong li .img_play:hover .bi {
  opacity: 1;
}
.bySong .listSong li h5 {
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 13px;
  color: #fff;
}
.bySong .listSong li h5 .singer {
  font-size: 10px;
  color: #80879a;
}

/* CATEGORY */
.category {
  position: relative;
  width: 95%;
}

/* ARTIST */
.artistPage {
  width: 95%;
}
.artist {
  background-repeat: no-repeat;
}
/* div img {
  opacity: 0.5;
} */

/* MUSIC PLAYER */
footer .musicplayer {
  width: 100%;
  height: 100px;
  background: #202229;
  box-shadow: 0px 3px 8px #5974ba;
}
footer .musicplayer {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: center;
}

footer .musicplayer img {
  width: 60px;
  height: 60px;
  border: none;
}
footer .musicplayer h5 {
  width: 130px;
  font-size: 13px;
  margin-left: 15px;
  color: #fff;
  line-height: 17px;
}
footer .musicplayer h5 .singer {
  font-size: 11px;
  color: #5269aa;
}
footer .musicplayer .icon {
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0px 40px;
  outline: none;
}
footer .musicplayer .icon .bi {
  cursor: pointer;
  outline: none;
}

.musicplayer span {
  color: #fff;
  width: 32px;
  font-size: 11px;
  font-weight: 400;
}

.musicplayer .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105, 170, 0.1);
  margin: 0px 15px 0px 10px;
}
.musicplayer .bar .bar2 {
  position: absolute;
  background: #36e2ec;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}
.musicplayer .bar input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  opacity: 0;
}
.musicplayer .vol {
  position: relative;
  /* width: 100px;
  height: 2px; */
  margin-left: 50px;
  /* background: rgb(105, 105, 170, 0.1); */
  cursor: pointer;
}
.musicplayer .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -18px;
  left: -30px;
}
body_a {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button_a {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button_a:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content_a {
  background-color: #fefefe;
  margin-top: 3%; /* 3% from the top, 3% from the bottom and centered */
  margin-bottom: 3%;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}