* {
  box-sizing: border-box;
  
}
body{
  background-color: #1E1E1E;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 16%;
  background-color: #20342D;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 99;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: grey;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.container-header{
  background-color: #142922;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.container-content {
  background-color: #1E1E1E;
  color: white; 
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 10%; /*Due to side reduce to 10% so that div content will be reduce to 11%*/
  }
  .sidebar a {float: left;}
  div.content {margin-left: 11%;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    
    float: left;
  }
}
.dropdown-item{
  margin-left: 15% ;
}
.space{
  border:solid, black;
  border-width: 1px 0;
  width: 5rem;
  flex-shrink: 0;
}
.ms-sm-3{
   margin-left: 30% !important
}

